{% extends "layout.html" %}
{% block content %}

  {% if current_user.is_authenticated %}
  <h1>Home Page</h1>
    {% for post in posts %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <h1 class="center">Thapar Social</h1>
    <div>
      <img src="static/img/noimage.jpg" class="center">
    </div>
    <div>
      <button type="button" class="btn btn-primary" href="{{ url_for('login') }}">Login</button>
      <button class="btn btn-outline-info" href="{{ url_for('register') }}"> Register </button>
      <button class="btn btn-outline-info" href="{{ url_for('about') }}"> About </button>
    </div>
  {% endif %}
  


{% endblock content %}
